<style>
    table, th, td {
      border:1px solid black;
    }
</style>
<table style="width:100%">
    <tr>
        <th>Descrição do serviço</th>
        <th>Tipo de serviço</th>
        <th>Data do serviço</th>
        <th>Status do serviço</th>
        <th>Tecnico responsavel</th>
        <th>Cliente</th>
        <th>Produto</th>
    </tr>
    {% for servico in servicos %}
        <tr>
            <td>{{servico.descricao_servico}}</td>
            <td>{{servico.tipo_servico}}</td>
            <td>{{servico.data_servico}}</td>
            <td>{{servico.status}}</td>
            <td>{{servico.tecnico}}</td>
            <td>{{servico.cliente}}</td>
            <td>{{servico.produto}}</td>
        </tr>
    {% endfor %}
</table>
<a href="{% url 'new-service' %}">
    <button>Adicionar novo serviço</button>
</a>
{% for message in messages %}
    {{message}}
{% endfor %}