{% extends 'base.html' %}
{% block content %}
    <table class="table table-hover">
        <tr>
            <th>Descrição do serviço</th>
            <th>Tipo de serviço</th>
            <th>Data do serviço</th>
            <th>Status do serviço</th>
            <th>Tecnico responsavel</th>
            <th>Cliente</th>

        </tr>
        {% for servico in servicos %}
            <tr>
                <td>{{servico.descricao_servico}}</td>
                <td>{{servico.tipo_servico}}</td>
                <td>{{servico.data_servico}}</td>
                <td>{{servico.status}}</td>
                <td>{{servico.tecnico}}</td>
                <td>{{servico.cliente}}</td>
                <td>
                    <a href="{% url 'detail-service' servico.id %}">
                        <button class="btn btn-info">Detalhes</button>
                    </a>
                </td>
                {% if user.is_authenticated and user.is_staff %}
                <td>
                    <a href="{% url 'service-edit' servico.id %}">
                        <button class="btn btn-warning">Editar</button>
                    </a>
                </td>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                    <td>
                        <a href="{% url 'service-delete' servico.id %}">
                            <button class="btn btn-danger">Excluir</button>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'new-service' %}">
        <button class="btn btn-primary">Adicionar novo serviço</button>
    </a>
    {% endif %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endblock %}