{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<div class="justify-content-center">
    <div class="card text-center" style="width: 40rem;">
        <h1 class="h1">Login</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="">
                <input type="text" name="usuario" value="{{request.POST.usuario}}" placeholder="Usuario" required>
            </div>
            <div class="">
                <input type="password" name="senha" value="{{request.POST.senha}}" placeholder="Senha" required >
            </div>
            <br>
            <div class="justify-center">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
            <div class="justify-center">
                <hr>
            </div>
            
            <div class="p">
                <p>Não consegue acessar? <a href="{% url 'reset_password' %}" class="a">Esqueci minha senha</a></p> 
            </div>
        </form>
    </div>
    {% for message in messages %}
    {{message}}
    {% endfor %}
</div>
{% endblock %}