{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card text-center" style="width: 40rem;">
        <h1 class="h1">Resetar senha</h1>
        <form method="POST" action="" class="">
            {% csrf_token %}
            <div class="label-float">
                <input type="email" name="email" autocomplete="email" maxlength="254" class="emailinput" value="{{request.POST.email}}"  required>
                <label for="id_email">Email</label>
            </div>
            <br>
            <div class="">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        <div class="">
            <a href="{% url 'login' %}">
                <button class="btn btn-secondary">voltar</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}