<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'index' %}">Help Desk</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'client-list' %}">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product' %}">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'technician' %}">Tecnicos</a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'technician' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>