{% extends 'base.html' %}
{% block content %}
<form action="">
    {% csrf_token %}
    <table class="table table-hover">
        <tr>
            <th>Nome do Tecnico(a)</th>
            <th>Registro do Tecnico(a)</th>
        </tr>
        <tr>
            <td>{{tecnico.nome}}</td>
            <td>{{tecnico.registro}}</td>
            {% if user.is_authenticated and user.is_staff %}
                    <td>
                        <a href="">
                            <button class="btn btn-warning">Editar</button>
                        </a>
                    </td>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                    <td>
                        <a href="">
                            <button class="btn btn-danger">Excluir</button>
                        </a>
                    </td>
                {% endif %}
        </tr>
    </table>
</form>
<a href="{% url 'technician' %}">
    <button class="btn btn-secondary">Voltar</button>
</a>
{% endblock %}