{% extends 'base.html' %}
{% block content %}
<table class="table table-hover">
    <tr>
        <th>Nome do Cliente</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Estado</th>
    </tr>
    {% for cliente in clientes %}
    <tr>
        <td>{{cliente.nome_completo}}</td>
        <td>{{cliente.cpf}}</td>
        <td>{{cliente.telefone}}</td>
        <td>{{cliente.endereco}}</td>
        <td>{{cliente.estado}}</td>
        <td>
            <a href="{% url 'detail-client' cliente.id %}">
                <button class="btn btn-info">Detalhes</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'new-client' %}">
    <button class="btn btn-primary">Adicionar novo Cliente</button>
</a>
{% endblock %}