{% extends 'base.html' %}
{% block content %}
<table class="table table-hover">
    <tr>
        <th>Nome do Cliente</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Estado</th>
    </tr>
    {% for cliente in clientes %}
    <tr>
        <td>{{cliente.nome_completo}}</td>
        <td>{{cliente.cpf}}</td>
        <td>{{cliente.telefone}}</td>
        <td>{{cliente.endereco}}</td>
        <td>{{cliente.estado}}</td>
        <td>
            <a href="{% url 'detail-client' cliente.id %}">
                <button class="btn btn-info">Detalhes</button>
            </a>
        </td>
        {%if user.is_authenticated and user.is_staff %}
        <td>
            <a href="">
                <button class="btn btn-warning">Editar</button>
            </a>
        </td>
        {% endif %}
        {%if user.is_authenticated and user.is_superuser %}
        <td>
            <a href="{% url 'delete-client' cliente.id %}">
                <button class="btn btn-danger">Excluir</button>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'new-client' %}">
        <button class="btn btn-primary">Adicionar novo Cliente</button>
    </a>
{% endif %}
<br>
<br>
<hr>
<br>
<br>
{%if user.is_authenticated and user.is_superuser %}
    <a href="{% url 'cadastro' %}">
        <button class="btn btn-primary">Adicionar novo Usuario</button>
    </a>
{% endif %}

{% endblock %}